@using bai5.Models

@{
    Layout = null;
    var s = ViewData["s"] as Sach;
}

<!DOCTYPE html>
    
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
    <title>OuputBookList</title>
</head>
<body>
    <div>
        @model List<Sach>

        @using (Html.BeginForm("Index", "Sach", FormMethod.Post))
        {
            for (int i = 0; i < Model.Count; i++)
            {
                @Htaml.HiddenFor(m => m[i].MaSach)
                @Html.EditorFor(m => m[i].TenSach)
                @Html.EditorFor(m => m[i].Gia)
                @Html.EditorFor(m => m[i].AnhBia)
            }

            <input type="submit" value="Submit" />
        }
        @*<h2>Thong tin </h2>
        <table class="table table-bordered w-75 mx-auto">
            <tr>
                <th colspan="2" style="text-align:center;color:white" class="bg-primary">booklist</th>
            </tr>
            <tr>
                <td>Ma sach</td>
                <td>Ten sach</td>
                <td>Gia tien </td>
                <td>Hinh anh</td>
            </tr>
            <tr>
                <td>@s.MaSach</td>
                <td>@s.TenSach</td>
                <td>
                    <img src="/images/@s.AnhBia" class="w-25 rounded" />
                </td>
                <td>@s.Gia</td>
            </tr>*@
            
        </table>
    </div>
</body>
</html>
